*{
     font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
     text-align: center;
}

h1{
     text-align: center;
     color: cornflowerblue;
     font-weight: bold;
}
.form-cover{
     border-radius: 20px;
     box-shadow: 2px 2px 5px .5px gray;
     width: max-content;
     height: max-content;
     text-align: center;
     margin: auto;
     margin-top: 7%;
     padding: 1em;
     
}
.register{
     margin: 1em auto;
}
.col-form-label{
     font-weight: bold;
     text-align:left;
}
.submit{
     font-weight: bold !important;
     background-color: cornflowerblue;
}
.error{
     color: red;
}
/* Text for login and signup that gies link to one another */
.alt-text span a:hover{
     text-decoration: none;
}

/* Profile.php */
/* Column header for each row */
.col-head{
     font-weight: bold;
     font-size: large;
}
/* Personal Information section of profile */
.intern-avatar{
     width:50%;
     height:50%;
}